In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_excel("C:/Users/Ashish khatke/Downloads/Data set.xlsx")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107 entries, 0 to 1106
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Date                                  1107 non-null   datetime64[ns]
 1   Coal_RB_4800_FOB_London_Close_USD     1068 non-null   float64
 2   Coal_RB_5500_FOB_London_Close_USD     1068 non-null   float64
 3   Coal_RB_5700_FOB_London_Close_USD     1068 non-null   float64
 4   Coal_RB_6000_FOB_CurrentWeek_Avg_USD  1084 non-null   float64
 5   Coal_India_5500_CFR_London_Close_USD  1068 non-null   float64
 6   Price_WTI                             1099 non-null   float64
 7   Price_Brent_Oil                       1096 non-null   float64
 8   Price_Dubai_Brent_Oil                 1067 non-null   float64
 9   Price_ExxonMobil                      1067 non-null   float64
 10  Price_Shenhua                         1042 non-null   float64
 11  Price_All_Share                       1058 non-null   float64
 12  Price_Mining                          1058 non-null   float64
 13  Price_LNG_Japan_Korea_Marker_PLATTS   1066 non-null   float64
 14  Price_ZAR_USD                         1107 non-null   float64
 15  Price_Natural_Gas                     1099 non-null   float64
 16  Price_ICE                             1067 non-null   float64
 17  Price_Dutch_TTF                       1076 non-null   float64
 18  Price_Indian_en_exg_rate              1047 non-null   float64
dtypes: datetime64[ns](1), float64(18)
memory usage: 164.4 KB

In [4]:
df.head(10)

,Date,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
0,2020-04-02,41.00,53.22,64.70,97.56,60.50,25.32,29.94,26.16,40.40,14.58,45060.69,35562.37,2.860,0.05411,1.552,81.14,6.935,NaN
1,2020-04-03,40.34,52.36,63.10,70.57,62.03,28.34,34.11,29.39,39.21,14.14,44598.70,35258.30,2.845,0.05245,1.621,80.99,6.920,45.02
2,2020-04-06,40.34,52.36,63.10,70.57,62.03,26.08,33.05,27.45,40.47,14.26,46240.35,37032.31,2.850,0.05351,1.731,84.43,7.285,NaN
3,2020-04-07,40.34,52.36,63.10,70.57,62.03,23.63,31.87,26.00,41.24,14.46,47496.72,38362.12,2.805,0.05457,1.852,82.30,7.285,48.32
4,2020-04-08,40.34,52.36,63.10,70.57,62.03,25.09,32.84,26.16,43.85,14.24,46689.90,37469.17,2.810,0.05493,1.783,85.34,7.260,45.75
5,2020-04-09,33.82,43.58,54.81,59.57,54.74,22.76,31.48,23.26,43.13,14.16,48011.56,38905.32,2.805,0.05544,1.733,87.38,7.280,48.33
6,2020-04-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05561,NaN,NaN,NaN,NaN
7,2020-04-13,NaN,NaN,NaN,59.57,NaN,22.41,31.74,24.74,42.76,NaN,NaN,NaN,2.805,0.05516,1.724,85.18,7.280,47.75
8,2020-04-14,33.82,43.58,54.81,59.57,54.74,20.11,29.60,21.96,42.43,14.36,49874.51,41941.82,2.800,0.05454,1.650,87.00,6.875,NaN
9,2020-04-15,33.82,43.58,54.81,59.57,54.74,19.87,27.69,21.46,40.48,14.12,48301.28,40023.44,2.795,0.05343,1.598,86.25,6.650,49.25

In [5]:
df.isnull().sum()

Date                                     0
Coal_RB_4800_FOB_London_Close_USD       39
Coal_RB_5500_FOB_London_Close_USD       39
Coal_RB_5700_FOB_London_Close_USD       39
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    23
Coal_India_5500_CFR_London_Close_USD    39
Price_WTI                                8
Price_Brent_Oil                         11
Price_Dubai_Brent_Oil                   40
Price_ExxonMobil                        40
Price_Shenhua                           65
Price_All_Share                         49
Price_Mining                            49
Price_LNG_Japan_Korea_Marker_PLATTS     41
Price_ZAR_USD                            0
Price_Natural_Gas                        8
Price_ICE                               40
Price_Dutch_TTF                         31
Price_Indian_en_exg_rate                60
dtype: int64

In [6]:
df.describe()

,Date,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
count,1107,1068.000000,1068.000000,1068.000000,1084.000000,1068.000000,1099.000000,1096.000000,1067.000000,1067.000000,1042.000000,1058.000000,1058.000000,1066.000000,1107.000000,1099.000000,1067.000000,1076.000000,1047.000000
mean,2022-05-16 14:22:26.341463296,87.953184,113.353155,134.971807,144.351494,123.759710,72.345469,76.283020,74.752493,80.871012,21.274702,68736.904811,52972.178374,17.622529,0.059943,3.697999,112.756111,57.384856,141.616027
min,2020-04-02 00:00:00,26.750000,34.560000,44.690000,44.530000,41.810000,-37.630000,19.330000,19.070000,31.570000,12.060000,44598.700000,35258.300000,1.995000,0.050470,1.482000,80.990000,3.510000,45.020000
25%,2021-04-24 12:00:00,50.370000,67.880000,83.400000,92.420000,81.990000,64.225000,67.457500,65.480000,56.035000,15.275000,65639.547500,47161.832500,8.851250,0.054290,2.458500,101.900000,22.406250,119.065000
50%,2022-05-17 00:00:00,76.190000,95.800000,108.910000,115.270000,111.200000,75.670000,79.960000,78.790000,86.410000,22.325000,70089.085000,53270.245000,12.902500,0.058720,2.863000,111.960000,35.838500,140.900000
75%,2023-06-07 12:00:00,104.180000,129.260000,155.600000,172.550000,150.040000,83.180000,87.450000,87.275000,106.480000,24.937500,74775.762500,57707.622500,25.993750,0.065640,4.710500,122.620000,83.962500,162.350000
max,2024-06-28 00:00:00,301.090000,360.240000,412.350000,428.220000,312.890000,123.700000,127.980000,122.530000,122.200000,40.300000,80791.360000,75185.760000,69.955000,0.074350,9.647000,139.430000,339.195000,295.250000
std,NaN,47.303473,63.105405,77.472391,83.500186,56.502138,20.605415,20.723186,20.505811,27.771904,6.136281,7928.639789,7037.617925,12.716663,0.006068,1.921176,13.729638,53.328953,54.147294

In [7]:
df.fillna(df.mean(numeric_only=True), inplace=True)

In [8]:
df.isnull().sum()

Date                                    0
Coal_RB_4800_FOB_London_Close_USD       0
Coal_RB_5500_FOB_London_Close_USD       0
Coal_RB_5700_FOB_London_Close_USD       0
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    0
Coal_India_5500_CFR_London_Close_USD    0
Price_WTI                               0
Price_Brent_Oil                         0
Price_Dubai_Brent_Oil                   0
Price_ExxonMobil                        0
Price_Shenhua                           0
Price_All_Share                         0
Price_Mining                            0
Price_LNG_Japan_Korea_Marker_PLATTS     0
Price_ZAR_USD                           0
Price_Natural_Gas                       0
Price_ICE                               0
Price_Dutch_TTF                         0
Price_Indian_en_exg_rate                0
dtype: int64

In [9]:
df.head(10)

,Date,Coal_RB_4800_FOB_London_Close_USD,Coal_RB_5500_FOB_London_Close_USD,Coal_RB_5700_FOB_London_Close_USD,Coal_RB_6000_FOB_CurrentWeek_Avg_USD,Coal_India_5500_CFR_London_Close_USD,Price_WTI,Price_Brent_Oil,Price_Dubai_Brent_Oil,Price_ExxonMobil,Price_Shenhua,Price_All_Share,Price_Mining,Price_LNG_Japan_Korea_Marker_PLATTS,Price_ZAR_USD,Price_Natural_Gas,Price_ICE,Price_Dutch_TTF,Price_Indian_en_exg_rate
0,2020-04-02,41.000000,53.220000,64.700000,97.560000,60.50000,25.320000,29.94000,26.160000,40.400000,14.580000,45060.690000,35562.370000,2.860000,0.05411,1.552000,81.140000,6.935000,141.616027
1,2020-04-03,40.340000,52.360000,63.100000,70.570000,62.03000,28.340000,34.11000,29.390000,39.210000,14.140000,44598.700000,35258.300000,2.845000,0.05245,1.621000,80.990000,6.920000,45.020000
2,2020-04-06,40.340000,52.360000,63.100000,70.570000,62.03000,26.080000,33.05000,27.450000,40.470000,14.260000,46240.350000,37032.310000,2.850000,0.05351,1.731000,84.430000,7.285000,141.616027
3,2020-04-07,40.340000,52.360000,63.100000,70.570000,62.03000,23.630000,31.87000,26.000000,41.240000,14.460000,47496.720000,38362.120000,2.805000,0.05457,1.852000,82.300000,7.285000,48.320000
4,2020-04-08,40.340000,52.360000,63.100000,70.570000,62.03000,25.090000,32.84000,26.160000,43.850000,14.240000,46689.900000,37469.170000,2.810000,0.05493,1.783000,85.340000,7.260000,45.750000
5,2020-04-09,33.820000,43.580000,54.810000,59.570000,54.74000,22.760000,31.48000,23.260000,43.130000,14.160000,48011.560000,38905.320000,2.805000,0.05544,1.733000,87.380000,7.280000,48.330000
6,2020-04-10,87.953184,113.353155,134.971807,144.351494,123.75971,72.345469,76.28302,74.752493,80.871012,21.274702,68736.904811,52972.178374,17.622529,0.05561,3.697999,112.756111,57.384856,141.616027
7,2020-04-13,87.953184,113.353155,134.971807,59.570000,123.75971,22.410000,31.74000,24.740000,42.760000,21.274702,68736.904811,52972.178374,2.805000,0.05516,1.724000,85.180000,7.280000,47.750000
8,2020-04-14,33.820000,43.580000,54.810000,59.570000,54.74000,20.110000,29.60000,21.960000,42.430000,14.360000,49874.510000,41941.820000,2.800000,0.05454,1.650000,87.000000,6.875000,141.616027
9,2020-04-15,33.820000,43.580000,54.810000,59.570000,54.74000,19.870000,27.69000,21.460000,40.480000,14.120000,48301.280000,40023.440000,2.795000,0.05343,1.598000,86.250000,6.650000,49.250000

In [11]:
print("\nMeasures of Central Tendency:")
summary = pd.DataFrame({
'Mean': df.mean(numeric_only=True),
'Median': df.median(numeric_only=True),
'Mode': df.mode(numeric_only=True).iloc[0]
})
print(summary)

Measures of Central Tendency:
                                              Mean        Median          Mode
Coal_RB_4800_FOB_London_Close_USD        87.953184     77.810000     87.953184
Coal_RB_5500_FOB_London_Close_USD       113.353155     97.280000    113.353155
Coal_RB_5700_FOB_London_Close_USD       134.971807    110.940000    134.971807
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    144.351494    115.630000    144.351494
Coal_India_5500_CFR_London_Close_USD    123.759710    111.680000    123.759710
Price_WTI                                72.345469     75.570000     72.345469
Price_Brent_Oil                          76.283020     79.670000     76.283020
Price_Dubai_Brent_Oil                    74.752493     78.180000     74.752493
Price_ExxonMobil                         80.871012     84.810000     80.871012
Price_Shenhua                            21.274702     21.850000     21.274702
Price_All_Share                       68736.904811  69401.950000  68736.904811
Price_Mining                          52972.178374  52972.178374  52972.178374
Price_LNG_Japan_Korea_Marker_PLATTS      17.622529     13.335000     17.622529
Price_ZAR_USD                             0.059943      0.058720      0.052730
Price_Natural_Gas                         3.697999      2.879000      3.697999
Price_ICE                               112.756111    112.420000    112.756111
Price_Dutch_TTF                          57.384856     36.780000     57.384856
Price_Indian_en_exg_rate                141.616027    141.616027    141.616027

In [12]:
print("\nMeasure of dispersion:")
summary = pd.DataFrame({
'Standard Deviation': df.std(numeric_only=True),
'Variance': df.var(numeric_only=True),
'Range' : df.max(numeric_only=True)-df.min(numeric_only=True).iloc[0]
})
print(summary)

Measure of dispersion:
                                      Standard Deviation      Variance  \
Coal_RB_4800_FOB_London_Close_USD              46.461976  2.158715e+03
Coal_RB_5500_FOB_London_Close_USD              61.982802  3.841868e+03
Coal_RB_5700_FOB_London_Close_USD              76.094209  5.790329e+03
Coal_RB_6000_FOB_CurrentWeek_Avg_USD           82.627404  6.827288e+03
Coal_India_5500_CFR_London_Close_USD           55.497003  3.079917e+03
Price_WTI                                      20.530757  4.215120e+02
Price_Brent_Oil                                20.619874  4.251792e+02
Price_Dubai_Brent_Oil                          20.131586  4.052808e+02
Price_ExxonMobil                               27.265075  7.433843e+02
Price_Shenhua                                   5.953235  3.544100e+01
Price_All_Share                              7751.015722  6.007824e+07
Price_Mining                                 6879.955280  4.733378e+07
Price_LNG_Japan_Korea_Marker_PLATTS            12.478731  1.557187e+02
Price_ZAR_USD                                   0.006068  3.681609e-05
Price_Natural_Gas                               1.914215  3.664219e+00
Price_ICE                                      13.479077  1.816855e+02
Price_Dutch_TTF                                52.576264  2.764264e+03
Price_Indian_en_exg_rate                       52.658082  2.772874e+03

                                            Range
Coal_RB_4800_FOB_London_Close_USD       274.34000
Coal_RB_5500_FOB_London_Close_USD       333.49000
Coal_RB_5700_FOB_London_Close_USD       385.60000
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    401.47000
Coal_India_5500_CFR_London_Close_USD    286.14000
Price_WTI                                96.95000
Price_Brent_Oil                         101.23000
Price_Dubai_Brent_Oil                    95.78000
Price_ExxonMobil                         95.45000
Price_Shenhua                            13.55000
Price_All_Share                       80764.61000
Price_Mining                          75159.01000
Price_LNG_Japan_Korea_Marker_PLATTS      43.20500
Price_ZAR_USD                           -26.67565
Price_Natural_Gas                       -17.10300
Price_ICE                               112.68000
Price_Dutch_TTF                         312.44500
Price_Indian_en_exg_rate                268.50000

In [13]:
print("\nSkewness:")
print(df.skew(numeric_only=True))

Skewness:
Coal_RB_4800_FOB_London_Close_USD       1.336514
Coal_RB_5500_FOB_London_Close_USD       1.283273
Coal_RB_5700_FOB_London_Close_USD       1.301123
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    1.282849
Coal_India_5500_CFR_London_Close_USD    0.877831
Price_WTI                              -0.538292
Price_Brent_Oil                        -0.431779
Price_Dubai_Brent_Oil                  -0.570439
Price_ExxonMobil                       -0.211281
Price_Shenhua                           0.583106
Price_All_Share                        -0.839517
Price_Mining                            0.295003
Price_LNG_Japan_Korea_Marker_PLATTS     1.104863
Price_ZAR_USD                           0.347963
Price_Natural_Gas                       1.264581
Price_ICE                               0.227101
Price_Dutch_TTF                         1.744003
Price_Indian_en_exg_rate                0.381738
dtype: float64

In [14]:
print("\nKurtosis")
print(df.kurt(numeric_only=True))

Kurtosis
Coal_RB_4800_FOB_London_Close_USD       2.303051
Coal_RB_5500_FOB_London_Close_USD       1.277939
Coal_RB_5700_FOB_London_Close_USD       0.950956
Coal_RB_6000_FOB_CurrentWeek_Avg_USD    0.796499
Coal_India_5500_CFR_London_Close_USD    0.292082
Price_WTI                               0.836003
Price_Brent_Oil                         0.005253
Price_Dubai_Brent_Oil                   0.072906
Price_ExxonMobil                       -1.429608
Price_Shenhua                           0.209243
Price_All_Share                         0.013746
Price_Mining                           -0.240241
Price_LNG_Japan_Korea_Marker_PLATTS     0.935122
Price_ZAR_USD                          -1.217152
Price_Natural_Gas                       0.686998
Price_ICE                              -0.796873
Price_Dutch_TTF                         3.325359
Price_Indian_en_exg_rate                0.075783
dtype: float64